*{
    padding: 0;
    margin: 0;
}

.containera{
    height: 420px;
    width: 100%;
    background-image: url(aboutbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:80px;
}

.block2{
    height: 350px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.566);
    border-radius: 40px
}