*{
   margin: 0;
   padding: 0;
}

.container {
   background-image: url(aboutbg.png);
   height: 500px;
   width: 100%;
   background-position:center ;
   background-repeat: no-repeat;
   background-size: cover;
}

.main{
   height: 490px;
   width: 300px;
   background-color: rgba(14, 2, 68, 0.526);
   margin:auto;
   border-radius: 40px;
}

.main .welcome{
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
   height: 80px;
   width: 100%;
   background-image: url(home.png);
}

.main .para{
   height: 340px;
   width: 100%;
   background-image: url(aboutbg.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.main .enter{
   background-image: url(home.png);
   height: 50px;
   width: 240px;
   margin-left: auto;
   border-bottom-right-radius: 40px;
   border-bottom-left-radius: 40px;
}

.main .enter h2{
   margin-left:50px;
}

.main .enter h2:hover{
   transform: scale(1.1);
}

.main .para p{
   color: white;
}
.main h1,h2{
   color: white;
}

.main h1{
   font-size: xx-large;
}

.fotter{
   height: 160px;
   width: 100%;
   /* margin-top: 100px; */
}

.bg{
   background-image: url(aboutbg.png);
   height: 160px;
   margin-top: -5px;
}

.fotter ul{
   margin: 20px;
   margin-left: 20px;
}

li{
   margin: 25px;
}

.items a{
   padding: 7px;
}
.items a:hover{
   background-color: rgb(28, 8, 251,0.15);
   border-radius: 10px;
}


.elements{
   display: flex;
   margin: 10px;
   height: 140px;
   margin-top: -150px;
   width: 98.5%;
   background-color: rgb(255,255,255,0.8);
   border-radius: 30px;
}

.f{
   margin-left: 200px;
   margin-top: 20px;
   padding-bottom: 10px;
}

.enter{
   margin-left: 70px;
   padding: 10px;
   padding-left: 30px;
   padding-right: 30px;
   opacity: none;
}

span{
   color: azure;
   background-color: rgba(131, 3, 163, 0.8);
   padding: 10px;
   padding-left: 30px;
   padding-right: 30px;
   border-radius: 10px;
}

/* .scale:hover{
   transform: scale(1.1);
} */

