.middle{
    height: auto;
    width: 100%;
    background-image:url(aboutbg.png);
    padding-top: 20px;
    padding-bottom: 20px;
}

.i, .k, .l{
    height: 180px;
    width: 800px;
    background-color: white;
    margin: auto;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    border-radius: 40px;
    display: flex;
}

.l{
    margin-bottom: 30px;
}

.k{
    margin-top: 30px;
}

.i{
    margin-top: 20px;
    margin-bottom: 30px;
}

.ima{
    height: 180px;
    width: 200px;
    border-top-left-radius:  40px;
    border-bottom-left-radius: 40px;
    background-color: green;
}

.l .mi{
    height: 180px;
    width: 440px;
    background-color: white;
    margin-left: 20px;
}

.e{
    height: 180px;
    width: 160px;
    border-top-right-radius:  40px;
    border-bottom-right-radius: 40px;
    background-color: rgb(198, 179, 215);
}

.l .ima img{
    border-top-left-radius:  40px;
    border-bottom-left-radius: 40px;
}

.l .mi h1{
    font-size: x-large;
}

.l .mi h1,.l .mi h2,.l .mi h3 {
    color: black;
    margin: 8px;
}

.l .e h2{
    color: black;
    margin-top: 70px;
    margin-left: 20px;
    font-size: large;
}

.l .e h2:hover{
    transform: scale(1.1);
}